.bestChargeSection {
  width: 100%;
  padding: 0 0 60px;
  background: #ffffff;
  margin-top: -80px;
  margin-bottom: -10px;
}

.bestChargeContainer {
  max-width: 1407px;
  margin: 0 auto;
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -30px;
}

.featureItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex: 1;
}

.featureIcon {
  width: 60px;
  height: 60px;
  object-fit: contain;
  flex-shrink: 0;
}

.featureContent {
  color: #163b7c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  margin-top: 30px;
}

.featureContent h3 {
  margin: 0;
  margin-bottom: 10px;
}

.featureContent p {
  margin: 8px 0 0;
}
.heading {
  margin-top: -15px;
}

.Content {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.6;
  transform: translateY(50px);
}

.divider {
  width: 2px;
  height: 100px;
  background: #d9d9d9;
  margin: 0 32px;
  flex-shrink: 0;
}
