* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pagerow {
  display: flex;
  flex-direction: row;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  justify-self: flex-end;
}

.eyebrow {
  color: #55b56c;
  font-weight: 700;
}

.heading {
  color: #163b7c;
  font-weight: 700;
  margin: 0;
}

.description {
  line-height: 1.8;
  color: #6c6c6c;
  max-width: 430px;
}

.beyondImage {
  width: 100%;
  height: 324px;
  display: block;
  object-fit: cover;
  border-radius: 14px;
  transform: translateX(100px);
}
