.bestChargeContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.featureItem {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 20px;
  padding: 0 35px;
}

.featureItem:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 40%;
  top: 15%;
  height: 70%;
  width: 2px;
  background-color: #d0d0d0;
}

.featureIcon {
  width: 55px;
  height: 55px;
  object-fit: contain;
}

.featureContent {
  min-width: 0;
}

.heading {
  margin: 0;
  color: #163b7c;
  font-weight: 700;

  /* Keeps heading in one line */
  white-space: nowrap;
}

.content {
  /* margin-top: 8px; */
  color: #6c6c6c;
  line-height: 1.5;
}
