* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  margin: 0;
}

.eyebrow {
  font-weight: 700;
}

.description {
  line-height: 1.8;
  color: #667085;
  max-width: 430px;
}

.content,
.imageWrapper {
  display: grid;
  grid-template-rows: 2;
  align-items: center;
}

.content {
  justify-self: flex-start;
  transform: translateX(100px);
}

.imageWrapper {
  justify-self: flex-end;
  transform: translateX(-120px);
}

.beyondImage {
  width: 525px;
  height: 324px;
  border-radius: 14px;
  object-fit: cover;
}
