* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.FounderSection {
  width: 100%;
  height: 100%;
  background: rgba(22, 59, 124, 0.05);
}

.mainContainer {
  display: flex;
  align-items: center;
  gap: 52px;
  padding: 45px 100px;
}

/* Image */

.imageWrapper {
  flex: 0 0 303px;
}

.founderImage {
  width: 305px;
  height: 307px;
  display: block;
  object-fit: cover;
  border-radius: 50%;
  background: #a09b9b;
}

/*  Content  */

.messageContent {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Quote mark */

.quoteIcon {
  color: var(--color-secondary);
  font-size: 58px;
  font-weight: 700;
  line-height: 48px;
  top: 68px;
  left: 273px;
  height: 35px;
}

/* Founder Message */

.smallHeading {
  padding: 0 0 10px;
  color: #55b56c;
  font-size: 18px;
  font-weight: 700;
  gap: 10px;
  font-family: "Manrope", sans-serif;
}

/* Description */

.description {
  max-width: 600px;
  padding: 0 0 14px;
  color: #666666;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  gap: 20px;
  font-family: "Manrope", sans-serif;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transform: translateX(130px);
  margin-top: 20px;
  gap: var(--space-2);
}

.founderName {
  margin: 0;
  color: #163b7c;
  font-size: 24px;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
}

/* Designation */

.designation {
  margin: 2px 0 0;
  color: #6c6c6c;
  font-size: 15px;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
}
