.FounderSection {
  width: 100%;
  height: 100%;
  background: rgba(22, 59, 124, 0.05);
}

.mainContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 40px;
}

.imageWrapper {
  width: 303px;
  height: 303px;
}

/* Image */

.founderImage {
  width: 263px;
  height: 310px;
  display: grid;
  object-fit: cover;
  gap: 24px;
}

/*  Content  */

.messageContent {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-5);
}

/* Founder Message */

.smallHeading {
  color: #55b56c;
  font-size: 18px;
  font-weight: 700;
  gap: 10px;
  font-family: "Manrope", sans-serif;
}

/* Description */

.description {
  color: #666666;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5;
  gap: 20px;
  font-family: "Manrope", sans-serif;
}

.icon {
  font-size: 58px;
  font-weight: 700;
  height: 35px;
  line-height: 48px;
}

img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.founderInfo {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.founderName {
  margin: 0;
  color: #163b7c;
  font-size: 24px;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
}

/* Designation */

.designation {
  color: #6c6c6c;
  font-size: 15px;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
}
