.heroSection {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

/* background image */

.heroImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  object-fit: cover;
  object-position: center;
}

/* overlay */

.heroOverlay {
  position: absolute;
  height: 90%;
  inset: 0;

  background: linear-gradient(
    70deg,
    rgba(10, 61, 135, 0.96) 0%,
    rgba(18, 76, 145, 0.88) 38%,
    rgba(22, 78, 145, 0.48) 68%,
    rgba(22, 78, 145, 0.1) 100%
  );
}

/* heroContainer */

.heroContainer {
  position: relative;
  z-index: 1;
  width: 100%;
}

/*content */

.heroContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
  width: 100%;
  max-width: 760px;
  text-align: left;
}

/* small heading */

.smallHeading {
  margin-top: 0;
  color: #55b56c;
  font-size: 16px;
  font-weight: 800;
  line-height: 100%;
  gap: 50px;
}

/* main heading */

.heroTitle {
  margin: 0;
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  gap: 60px;
}

.heroTitle span {
  color: #55b56c;
}

/* description */

.heroDescription {
  max-width: 680px;
  line-height: 1.45;
  gap: 30px;
}

/* // Mobile Responsiveness // */

@media (max-width: 480px) {
  .smallHeading {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .heroTitle {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    gap: 60px;
  }

  .heroButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
}
