/* body {
  overflow-x: hidden;
} */

/* main section */

.strengthSection {
  width: 100%;
  min-height: 530px;
  background-color: var(--color-primary);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
}

/* main container */

.strengthContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
  margin: 0 auto;
  position: relative;
}

/* heading */

.headingWrapper {
  text-align: center;
}

.smallHeading {
  color: var(--color-secondary);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.heading {
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.2;
}

/* main white card */

.strengthCard {
  width: 100%;
  flex: 0 0 100%;
  min-height: 320px;
  background-color: var(--color-white);
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0;
}

/* Image */
.imageWrapper {
  width: 100%;
  height: 100%;
  padding: 4px;
  display: flex;
}

.strengthImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}
/* content */
.contentWrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 40px;
  gap: var(--space-4);
}

/* .iconCircle {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-secondary);
  top: 67px;
  left: 27px;
  z-index: 1;
} */

.text {
  color: #163b7c;
  font-size: 20px;
  font-weight: 800px;
  padding: 2px 15px 10px 0px;
  position: relative;
  z-index: 2;
  display: grid;
  align-items: center;
  justify-self: center;
}

.contentWrapper h3 {
  position: relative;
  z-index: 2;
}

.iconCircle span {
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
  color: var(--color-primary);
  font-size: 18px;
}

.description {
  max-width: 280px;
  color: #6c6c6c;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.4;
  gap: var(--space-5);
}

/* features */

.features {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.featureItem {
  display: flex;
  align-items: center;
  gap: var(--space-5);
  color: var(--color-primary);
  font-size: 18px;
  font-weight: 700;
}

.featureIcon {
  width: 15px;
  color: var(--color-secondary);
  font-size: 14px;
  text-align: center;
}

img {
  width: 20px;
  height: 20px;
}

/* arrows */

.arrow {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 210px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 38px;
  line-height: 1;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.arrow:hover {
  transform: scale(1.08);
}

.leftArrow {
  /* left: -1px; */
  background-color: #e0e0e0;
  color: #979797;
  top: 210px;
  left: -100px;
  align-items: center;
}

.rightArrow {
  right: -1px;
  background-color: var(--color-secondary);
  color: #ffffff;
  top: 210px;
  right: -100px;
  align-items: center;
}

/* slider dots */

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  margin-top: 18px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #9faec2;
}

.activeDot {
  background-color: #ffffff;
}
.sliderWrapper {
  width: 100%;
  overflow: hidden;
}

.sliderTrack {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

/* responsiveness */

/* Tablets (768px - 1024px)*/

@media (max-width: 1024px) {
  .strengthSection {
    min-height: auto;
    padding: 40px 0;
  }

  .strengthCard {
    grid-template-columns: 1fr;
    min-height: auto;
  }

  .imageWrapper {
    height: 350px;
  }

  .contentWrapper {
    padding: 30px;
  }

  .iconCircle {
    top: 30px;
    left: 25px;
  }

  .heading {
    font-size: 24px;
  }

  .smallHeading {
    font-size: 18px;
  }

  .description {
    max-width: 100%;
  }

  .leftArrow {
    left: 10px;
  }

  .rightArrow {
    right: 10px;
  }

  .arrow {
    top: 50%;
    transform: translateY(-50%);
  }
}

/* Mobile Devices (320px - 767px) */

@media (max-width: 767px) {
  .strengthSection {
    min-height: auto;
    padding: 30px 0;
    gap: var(--space-4);
  }

  .strengthContainer {
    gap: 30px;
    width: 90%;
  }

  .smallHeading {
    font-size: 16px;
  }

  .heading {
    font-size: 20px;
  }

  .strengthCard {
    grid-template-columns: 1fr;
    border-radius: 8px;
  }

  .imageWrapper {
    height: 250px;
    padding: 3px;
  }

  .strengthImage {
    border-radius: 6px;
  }

  .contentWrapper {
    padding: 25px 20px;
    gap: 20px;
  }

  .iconCircle {
    width: 45px;
    height: 45px;
    top: 20px;
    left: 20px;
  }

  .text {
    font-size: 18px;
    padding-right: 0;
  }

  .description {
    font-size: 14px;
    max-width: 100%;
  }

  .features {
    gap: 10px;
  }

  .featureItem {
    font-size: 15px;
    gap: 12px;
  }

  .featureIcon {
    width: 12px;
  }

  .arrow {
    width: 40px;
    height: 40px;
    font-size: 28px;
    top: 45%;
  }

  .leftArrow {
    left: -45px;
  }

  .rightArrow {
    right: -40px;
  }

  .dots {
    margin-top: 12px;
  }

  .dot {
    width: 8px;
    height: 8px;
  }

  .featureItem {
    display: flex;
    gap: 23px;
  }
}
