* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.partnerHeader {
  text-align: center;
  margin-bottom: 25px;
}

.title {
  /* margin: 0 0 4px; */
  font-size: 36px;
  font-weight: 800;
  line-height: 1.2;
  color: #163b7c;
}

.heading {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  color: #6c6c6c;
}
img {
  width: 100%;
  height: 100%;
}

/* Partner cards */

.cardWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid #eeeeee;
  overflow: hidden;
  gap: var(--space-8);
}

.card {
  min-width: 0;
  width: 100%;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  border-right: 1px solid #eeeeee;
}

.card:last-child {
  /* border-right: none; */
}

.cardImage {
  width: 260px;
  height: auto;
  display: flex;
  object-fit: contain;
}
